@font-face {
    font-family: 'courier_primeregular';
    src: url('courier_prime-webfont.woff2') format('woff2'),
         url('courier_prime-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body
{
	background-color: whitesmoke;
}
body footer
{
	font-family: 'courier_primeregular';
}
em
{
	font-style: italic;
	font-weight: bold;
}